In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier 
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import confusion_matrix, classification_report, roc_curve
import seaborn as sns
sns.set(rc={'figure.figsize':(10,8)})

In [3]:
data=pd.read_csv("Processed-nhanes3.csv")

In [4]:
data.columns

Index(['agestrat', 'sex', 'ses', 'hf', 'stroke', 'mi', 'fast', 'metabolic',
       'mortstat', 'race_hispanic', 'race_multiracial',
       'race_non hispanic black', 'race_non hispanic white'],
      dtype='object')

In [5]:
data.head()

,agestrat,sex,ses,hf,stroke,mi,fast,metabolic,mortstat,race_hispanic,race_multiracial,race_non hispanic black,race_non hispanic white
0,0,1,1,0,0,0,0,0,alive,0,0,1,0
1,0,0,0,0,0,0,0,0,alive,0,0,1,0
2,1,0,0,0,0,0,0,0,alive,1,0,0,0
3,1,1,0,0,0,0,0,0,alive,1,0,0,0
4,1,1,0,0,0,0,1,0,alive,0,0,1,0

In [6]:
# sns.heatmap(data.corr(), cmap=sns.diverging_palette(220, 10, as_cmap=True),square=True)

In [7]:
Y = data['mortstat']

In [8]:
del data['mortstat']

In [9]:
X = data

In [10]:
X.shape

(13434, 12)

In [11]:
Y = np.ravel(Y)

In [12]:
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size=0.20, random_state=1)

In [13]:
X.shape

(13434, 12)

In [14]:
chY = SelectKBest(chi2, k=5)

In [15]:
X_s = chY.fit_transform(X, Y)

In [16]:
X_s.shape

(13434, 5)

In [17]:
len(chY.get_support())

12

In [18]:
chY.get_support()

array([ True, False, False,  True,  True,  True, False,  True, False,
       False, False, False])

In [19]:
H_columns = [column[0]  for column in zip(X.columns,chY.get_support()) if column[1]]
H_columns

['agestrat', 'hf', 'stroke', 'mi', 'metabolic']

In [20]:
X.columns[chY.get_support()]

Index(['agestrat', 'hf', 'stroke', 'mi', 'metabolic'], dtype='object')

In [20]:
H = data[H_columns]

In [21]:
H.head()

   agestrat  hf  stroke  mi  metabolic
0         0   0       0   0          0
1         0   0       0   0          0
2         1   0       0   0          0
3         1   0       0   0          0
4         1   0       0   0          0

In [22]:
T = data['metabolic']

In [27]:
T.head()

0    0
1    0
2    0
3    0
4    0
Name: metabolic, dtype: int64

In [28]:
X_T = X[[x for x in X.columns if x != 'metabolic']]

In [30]:
X_T.head()

,agestrat,sex,ses,hf,stroke,mi,fast,race_hispanic,race_multiracial,race_non hispanic black,race_non hispanic white
0,0,1,1,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,1,0
2,1,0,0,0,0,0,0,1,0,0,0
3,1,1,0,0,0,0,0,1,0,0,0
4,1,1,0,0,0,0,1,0,0,1,0

In [35]:
chT = SelectKBest(chi2, k=5)

In [36]:
X_s = chT.fit_transform(X_T, T)

In [37]:
X_s.shape

(13434, 5)

In [38]:
len(chT.get_support())

11

In [39]:
K_columns = [column[0]  for column in zip(X_T.columns,chT.get_support()) if column[1]]

In [40]:
K_columns

['agestrat', 'hf', 'stroke', 'mi', 'fast']

In [41]:
chT.get_support()

array([ True, False, False,  True,  True,  True,  True, False, False,
       False, False])

In [42]:
K = data[K_columns]

In [43]:
K.head()

   agestrat  hf  stroke  mi  fast
0         0   0       0   0     0
1         0   0       0   0     0
2         1   0       0   0     0
3         1   0       0   0     0
4         1   0       0   0     1